main {
    border: solid 1px;
    width: 20vmax;
    display: flex;
    flex-direction: column;
    height: 50vh;
    border-radius: 0.2em;
}

button {
    border: 0.05em solid;
    border-radius: 0.2em;
}

#screen {
    height: 35%;
    flex-grow: 0;
    flex-shrink: 0;
}

#user-interfaces {
    height: 65%;
    flex-grow: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

